body {
  overflow: hidden;
  text-align: center;
}

.firefly {
  width:4px;
  height:4px;
  position:absolute;
  background-color: #ecc45e;
  box-shadow:0px 0px 17px 2px wheat;
  border-radius: 50%;
}

.container {
/*   width: 30%; */
  /* margin: 0 auto; */
  
  position: absolute;
  left: 4%;
  right: 5%;
  width: 92%;
  height:700px;
  background-color: black
}

#mycanvas {
  margin: 0 auto;
  position: absolute;
}